.page.page-posts {
  .posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .post {
      & {
        display: grid;
        grid-auto-flow: row;
        padding: 1rem;
        border: solid .1rem var(--color-blue-100);
        border-radius: 1rem;
        transition: background-color .25s ease;
        height: 100%;
        max-height: 10rem;
      }

      &:hover {
        cursor: pointer;
        background-color: var(--color-blue-100);
      }

      .bottom {
        & {
          display: flex;
          justify-content: space-between;
          padding-top: 1rem;
        }

        .author {
          font-weight: bold;
          color: var(--color-gray-900);
  
          .name {
            color: var(--color-blue-600);
          }
        }

        .date-created {
          opacity: .5;
        }
      }

      .title {
        font-weight: bold;
        font-size: 1.5rem;
        color: var(--color-gray-900);
      }

      .content {
        font-weight: bold;
        color: var(--color-gray-700);
      }
     
    }
  }


}



@media all and (max-width: 700px) {
  .page.page-posts {
    .posts {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media all and (max-width: 550px) {
  .page.page-posts {
    .posts {
      grid-template-columns: 1fr;
    }
  }
}